@{
    ViewBag.Title = "Index";
}

Index Page

<hr />

Go to <b>Admin page</b>:

<ul>
    <li>
        <a href="@Url.RouteUrl("Dashboard")">Dashboard</a>
    </li>
    <li>
        <a href="@Url.Content("~/Admin")">Dashboard</a>
    </li>
    <li>
        <a href="@Url.RouteUrl("PostList")">Post List</a>
    </li>
</ul>