<div class="ui container">
  <div class="ui one cards">
    <div *ngFor="let post of posts" class="ui raised card">
      <div class="content">
        <a [routerLink]="['/post', post.id]" class="header">{{ post.title }}</a>
        <!--<div class="meta">
          <span class="category">Category</span>
        </div>-->
        <div class="description">
          <p>{{ post.excerpt }}</p>
        </div>
      </div>
      <div class="extra content">
        <span><i class="unhide icon"></i> 2222</span>
        <a *ngIf="post.category" class="bun-margin-left"><i class="sidebar icon"></i> {{ post.category.name }}</a>
        <div class="right floated author"><!--<img class="ui avatar image" src="/images/avatar/small/matt.jpg">--> {{ post.author.name }} </div>
      </div>
    </div>
  </div>
</div>
