@model PostModel
@{
    ViewBag.Title = "写文章";
}

<style>

</style>

<div class="ui container form">
    <form asp-area="Admin" asp-route="PostNew">
        <input type="hidden" asp-for="Id" />

        <div class="ui fluid icon input field">
            <input asp-for="Title" type="text" placeholder="在此输入标题" />
        </div>
        <div class="field">
            <textarea asp-for="Content" rows="22"></textarea>
        </div>
    </form>
</div>

@section TitleRightArea{
    <button id="Publish" type="button" class="compact small ui olive button"><i class="rocket icon"></i>发布</button>
    <button id="SaveDraft" type="button" class="compact small ui basic button">保存草稿</button>


    <div id="PostSuccessNotification" class="ui green label hidden"><i class="check icon"></i>已保存 <a id="PostUrl" class="detail">前往预览</a> <i class="close icon"></i></div>
    <div id="PostFailNotification" class="ui red label hidden"><i class="remove icon"></i>保存失败 <span id="FailError"></span> <i class="close icon"></i></div>
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#Publish").click(function () {
                var btn = $(this);
                var loadingClassName = "loading";

                var requestData = {
                    id: $("#Id").val(),
                    title: $("#Title").val(),
                    content: $("#Content").val(),
                    status: "Published"
                };

                if (!btn.hasClass(loadingClassName)) {
                    btn.addClass(loadingClassName);

                    $.post("@Url.RouteUrl("SavePost")", requestData)
                        .done(function (data, status, jqXHR) {
                            console.log("post save success, id is " + data.id);

                            $("#Id").val(data.id);
                            showSuccessNotification(data);
                        })
                        .fail(function (jqXHR, status, errorThrown) {
                            showFailNotification(errorThrown);
                        })
                        .always(function () {
                            btn.removeClass(loadingClassName);
                        });
                }
            });

            $("#Title, #Content").keypress(function () {
                var notifications = $("#PostSuccessNotification, #PostFailNotification");
                
                if (notifications.transition("is visible").some(function (value) { return value == true })) {
                    notifications.transition("hide");
                }
            });

            $("#TitleRightArea div.ui.label i.close.icon").click(function () {
                $(this).parent().transition("fade");
            });

            function showSuccessNotification(successResult) {
                $("#PostUrl").attr("href", successResult.url);
                $("#PostSuccessNotification").transition("fade in");
            }

            function showFailNotification(errorThrown) {
                $("#FailError").text(errorThrown);
                $("#PostFailNotification").transition("fade in");
            }
        });
    </script>
}