@model LoginModel
@{
    Layout = null;
}

<form asp-route="Login" asp-route-ReturnUrl="@Model.ReturnUrl" method="post" role="form">
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
    <br />

    <label asp-for="Password"></label>
    <input asp-for="Password" class="form-control" />
    <span asp-validation-for="Password" class="text-danger"></span>
    <br />

    <input asp-for="RememberMe" />
    <label asp-for="RememberMe"></label>
    <br />

    <input type="submit" value="Log in" class="btn btn-default" />

</form>