@foreach (BreadcrumbItem item in (ViewBag.Breadcrumb ?? new List<BreadcrumbItem>()))
{
    var activeClass = item.IsCurrent ? "active" : String.Empty;
    var url = String.IsNullOrEmpty(item.Url) ? "#" : item.Url;

    <li class="breadcrumb-item @activeClass">
        @if (item.IsCurrent)
        {
            <text>@item.Name</text>
        }
        else
        {
            <a href="@url">@item.Name</a>
        }
    </li>
}