<script id="KendoSuccessNotificationTemplate" type="text/x-kendo-template">
    <div class="alert alert-success" role="alert">#= data.content #</div>
</script>
<script id="KendoErrorNotificationTemplate" type="text/x-kendo-template">
    <div class="alert alert-danger" role="alert">#= data.content #</div>
</script>