@model PostListModel
@{
    ViewBag.Title = "所有文章";
}

<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model.PostList)
                {
                    <tr>
                        <td>
                            <a asp-route="EditPost" asp-route-id="@post.Id">@post.Title</a>
                        </td>
                        <td>@post.Author?.UserName</td>
                        <td>
                            <a asp-route="EditPost" asp-route-id="@post.Id">编辑</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>

@section TitleRightArea{
    <a asp-area="Admin" asp-route="PostNew" class="compact small ui basic button">写文章</a>
}

@section Scripts{
    <script>
        $(function () {
            new Bun.Blog.Admin.Post.List();
        });
    </script>
}