@{
    ViewBag.Title = "List - Post";

    ViewBag.Breadcrumb = Breadcrumb.Current("Post List");
}

<div class="row">
    <div class="col-lg-12">
        <input name="DatePicker" id="DatePicker" />
    </div>
</div>

@section scripts{
    <environment names="Development">
        <script src="~/js/Admin/Post/list.js"></script>
    </environment>

    <script>
        $(function () {
            new Bun.Blog.Admin.Post.List();
        });
    </script>
}