@model PostListModel
@{
    ViewBag.Title = "List - Post";

    ViewBag.Breadcrumb = Breadcrumb.Current("所有文章");
}

<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model.PostList)
                {
                    <tr>
                        <td>
                            <a asp-route="EditPost" asp-route-id="@post.Id">@post.Title</a>
                        </td>
                        <td>@post.Author?.UserName</td>
                        <td>
                            <a asp-route="EditPost" asp-route-id="@post.Id">编辑</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>

@section breadcrumbMenu{
    <a class="btn btn-secondary" href="#"><i class="icon-speech"></i></a>
    <a class="btn btn-secondary" asp-route="PostNew"><i class="icon-note"></i> &nbsp;写文章</a>
}

@section scripts{
    <environment names="Development">
        <script src="~/js/Admin/Post/list.js"></script>
    </environment>

    <script>
        $(function () {
            new Bun.Blog.Admin.Post.List();
        });
    </script>
}