@{
    ViewBag.Title = "List - Post";
}

Post List

<hr />

Go to <b>Admin page</b>:

<ul>
    <li>
        <a href="@Url.Action("Index", "Home")">Index</a>
    </li>
    <li>
        <a href="@Url.RouteUrl("Dashboard")">Dashboard</a>
    </li>
    <li>
        <a href="@Url.RouteUrl("PostList")">Post List</a>
    </li>
</ul>