@model PostNewModel
@{
    ViewBag.Title = "写文章";
}

<style>

</style>

<div class="ui container form">
    <form asp-area="Admin" asp-route="PostNew">
        <div class="ui fluid icon input field">
            <input asp-for="Title" type="text" placeholder="在此输入标题" />
        </div>
        <div class="field">
            <textarea asp-for="Content" rows="22"></textarea>
        </div>
    </form>
</div>

@section TitleRightArea{
    <button type="button" class="compact small ui olive button"><i class="rocket icon"></i>发布</button>
    <button type="button" class="compact small ui basic button">保存草稿</button>
}

@section Scripts{

    <script type="text/javascript">
        $(function () {

        });
    </script>
}