#BunMain {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

#Sidebar {
    width: 15rem;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}

    #Sidebar .menu {
        border-width: 0 1px 0 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: 100%;
    }

#Content {
    padding: 3em 0 0 0;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

#ContentGrid {
    padding: 0 1em;
}

    #ContentGrid.ui.grid {
        margin: 0;
    }

.bun-margin-left {
    margin-left: 1em;
}
